<!-- templates/piknik/confirm_piknik.html -->
{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(document).ready(function() {
    $('#registrationForm').submit(function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: window.location.href,
            data: $('#registrationForm').serialize(),
            success: function(data) {
                if (data.hasOwnProperty('success') && data.success) {
                    // Jeśli zapis się powiedzie, wywołaj funkcję successCallback
                    successCallback();
                } else {
                    // Jeśli wystąpią błędy, wyświetl je na stronie
                    if (data.hasOwnProperty('errors')) {
                        var errorMessage = data.errors.replace(/<br>/g, '\n');
                        $('#error-message').html('<h4 style="color: red;">' + data.errors + '</h4><br>');
                        setTimeout(function() {
                            $('#error-message').text('').css('color', 'red');
                        }, 3000);
                    } else {
                        $('#error-message').text('Nieznany błąd').css('color', 'red');
                        setTimeout(function() {
                            $('#error-message').text('').css('color', 'red');
                        }, 3000);
                    }
                }
            },
            error: function(xhr, status, error) {
                console.error('Wystąpił błąd:', error);
                console.log('Odpowiedź serwera:', xhr.responseText);
                var errorData = JSON.parse(xhr.responseText);
                $('#error-message').text('Błąd zapisu: ' + errorData.errors).css('color', 'red');
                setTimeout(function() {
                    $('#error-message').text('').css('color', 'red');
                }, 3000);
            }
        });
    });

    function successCallback() {
        console.log('successCallback executed');
        $('#registrationForm').hide();
        $('#cont-name').hide();
        $('#successMessage').show();
        setTimeout(function() {
            window.location.href = '{% url "index" %}';
        }, 3000);
    }

    function updatePrzystanekField() {
        var przystanekField = $('#id_przystanek');
        var originalValue = przystanekField.val();

        if ($('#id_transport_wlasny').is(':checked')) {
            przystanekField.prop('disabled', true);
            przystanekField.val(null);
        } else {
            przystanekField.prop('disabled', false);
            przystanekField.val(originalValue);
        }
    }

    updatePrzystanekField();

    $('#id_transport_wlasny').change(function() {
        updatePrzystanekField();
    });
});

document.addEventListener("DOMContentLoaded", function() {
    var liczbaDzieciField = document.getElementById("id_liczba_dzieci");

    function toggleChildAgeRows() {
        var liczbaDzieci = parseInt(liczbaDzieciField.value);

        for (var i = 1; i <= 7; i++) {
            var row = document.getElementById("row_wiek_dziecka_" + i);
            if (row) {
                if (i <= liczbaDzieci) {
                    row.classList.remove("hidden");
                } else {
                    row.classList.add("hidden");
                }
            }
        }
    }

    toggleChildAgeRows();

    liczbaDzieciField.addEventListener("change", toggleChildAgeRows);
});

document.addEventListener('DOMContentLoaded', function() {
    var loginInput = document.querySelector('#id_login');
    var imieInput = document.querySelector('#id_imie');
    var nazwiskoInput = document.querySelector('#id_nazwisko');
    var przystanekInput = document.querySelector('#id_przystanek');
    var zaakceptowane_regulaminInput = document.querySelector('#id_zaakceptowane_regulamin');
    var errorMessage = document.querySelector('#error-message');

    errorMessage.innerHTML = '';

    loginInput.addEventListener('blur', function() {
        if (loginInput.value.trim() === '') {
            errorMessage.innerHTML = 'Pole login jest wymagane!';
            setTimeout(function() {
                errorMessage.innerHTML = '';
            }, 3000);
        }
    });

    imieInput.addEventListener('blur', function() {
        if (imieInput.value.trim() === '') {
            errorMessage.innerHTML = 'Pole imie jest wymagane!';
            setTimeout(function() {
                errorMessage.innerHTML = '';
            }, 3000);
        }
    });

    nazwiskoInput.addEventListener('blur', function() {
        if (nazwiskoInput.value.trim() === '') {
            errorMessage.innerHTML = 'Pole nazwisko jest wymagane!';
            setTimeout(function() {
                errorMessage.innerHTML = '';
            }, 3000);
        }
    });

    przystanekInput.addEventListener('blur', function() {
        if (przystanekInput.value.trim() === '') {
            errorMessage.innerHTML = 'Proszę wybrać swój przystanek lub zaznaczyć transport własny!';
            setTimeout(function() {
                errorMessage.innerHTML = '';
            }, 3000);
        }
    });

    zaakceptowane_regulaminInput.addEventListener('change', function() {
        if (!zaakceptowane_regulaminInput.checked) {
            errorMessage.innerHTML = 'Musisz zaakceptować regulamin eventu.';
            setTimeout(function() {
                errorMessage.innerHTML = '';
            }, 3000);
        }
    });
});
</script>

    

{% endblock %}

{% block content %}

<style>
    .hidden {
        display: none;
    }
</style>

<div class="min-vh-100">
    <div class="jumbotron" >


        <h4 class="mb-3" id="error-message" style="color: red;"></h4>

        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
            


        <form method="post" action="" id="registrationForm">
            {% csrf_token %}
            <div id="cont-name">
                <h4>Wprowadz dane:</h4>
                <p class="text-secondary">Pola z gwiazdką są wymagane !</p>
            </div>
            <table class="mb-3">
                <tr>
                    <th scope="row">{{ form.login.label_tag }}*</th>
                    <td class="pl-2 pb-2">{{ form.login }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.imie.label_tag }}*</th>
                    <td class="pl-2 pb-2">{{ form.imie }}</td>
                </tr>
                <tr class="mb-1">
                    <th scope="row">{{ form.nazwisko.label_tag }}*</th>
                    <td class="pl-2 pb-2">{{ form.nazwisko }}</td>
                </tr>
                <tr class="mb-1">
                    <th scope="row">{{ form.osoba_towarzyszaca.label_tag }}</th>
                    <td class="pl-2 pb-2">{{ form.osoba_towarzyszaca }}</td>
                </tr>
                <tr class="mb-1">
                    <th scope="row">{{ form.liczba_dzieci.label_tag }}</th>
                    <td class="pl-2 pb-2">{{ form.liczba_dzieci }}</td>
                </tr>

                <!-- Pola wieku dzieci -->
            
                <tr class="mb-1 hidden" id="row_wiek_dziecka_1">
                    <th scope="row">Wiek dziecka 1</th>
                    <td class="pl-2 pb-2">{{ form.wiek_dziecka_1 }}</td>
                </tr>
                <tr class="mb-1 hidden" id="row_wiek_dziecka_2">
                    <th scope="row">Wiek dziecka 2</th>
                    <td class="pl-2 pb-2">{{ form.wiek_dziecka_2 }}</td>
                </tr>
                <tr class="mb-1 hidden" id="row_wiek_dziecka_3">
                    <th scope="row">Wiek dziecka 3</th>
                    <td class="pl-2 pb-2">{{ form.wiek_dziecka_3 }}</td>
                </tr>
                <tr class="mb-1 hidden" id="row_wiek_dziecka_4">
                    <th scope="row">Wiek dziecka 4</th>
                    <td class="pl-2 pb-2">{{ form.wiek_dziecka_4 }}</td>
                </tr>
                <tr class="mb-1 hidden" id="row_wiek_dziecka_5">
                    <th scope="row">Wiek dziecka 5</th>
                    <td class="pl-2 pb-2">{{ form.wiek_dziecka_5 }}</td>
                </tr>
                <tr class="mb-1 hidden" id="row_wiek_dziecka_6">
                    <th scope="row">Wiek dziecka 6</th>
                    <td class="pl-2 pb-2">{{ form.wiek_dziecka_6 }}</td>
                </tr>
                <tr class="mb-1 hidden" id="row_wiek_dziecka_7">
                    <th scope="row">Wiek dziecka 7</th>
                    <td class="pl-2 pb-2">{{ form.wiek_dziecka_7}}</td>
                </tr> 
                <tr class="mb-1">
                    <th scope="row">{{ form.transport_wlasny.label_tag }}</th>
                    <td class="pl-2 pb-2">{{ form.transport_wlasny }}</td>
                </tr>
                <tr class="mb-1">
                    <th scope="row">{{ form.przystanek.label_tag }}*</th>
                    <td class="pl-2 pb-2">{{ form.przystanek }}</td>
                </tr>
                <tr class="mb-1">
                    <th scope="row">{{ form.zaakceptowane_regulamin.label_tag }}*</th>
                    <td class="pl-2 pb-2">{{ form.zaakceptowane_regulamin }}</td>
                </tr>                
            </table>
            <p class="text-secondary">Regulamin eventu dostępny jest przed stanowiskiem zapisu na event, w dziale HR oraz bęrzie dostępny do wglądu w dniu Pikniku.</p>
            <button type="submit" class="btn btn-primary">Zapisz na listę</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Anuluj</a>
        </form>




        <div id="successMessage" style="display: none;">
            <h2 style="color: green;">Użytkownik został pomyślnie zapisany na Piknik!</h2>
        </div>
    </div>
</div>
{% endblock %}