<!-- templates/bal/confirm_bal.html -->
{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#registrationForm').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    data: $('#registrationForm').serialize(),
                    success: function(data) {
                        if (data.hasOwnProperty('success') && data.success) {
                            // Jeśli zapis się powiedzie, wywołaj funkcję successCallback
                            successCallback();
                        } else {
                            // Jeśli wystąpią błędy, wyświetl je na stronie
                            if (data.hasOwnProperty('errors')) {
                                //$('#error-message').text('Błąd zapisu: ' + data.errors).css('color', 'red');
                                var errorMessage = data.errors.replace(/<br>/g, '\n');
                                $('#error-message').html('<h4 style="color: red;">' + data.errors + '</h4><br>');
                                //$('#error-message').html('<h4 style="color: red;">Błąd zapisu:</h4><h4 style="color: red;">' + data.errors + '</h4><br>');
                                // Ukryj komunikat po 3 sekundach
                                setTimeout(function() {
                                    $('#error-message').text('').css('color', 'red');
                                }, 8000);
                                // Ponownie ustaw pole login na puste
                                $('#id_login').val('');
                                // Ustawienie fokusu na polu login po wyczyszczeniu
                                document.getElementById("id_login").focus();
                            } else {
                                $('#error-message').text('Nieznany błąd').css('color', 'red');
                                // Ukryj komunikat po 3 sekundach
                                setTimeout(function() {
                                    $('#error-message').text('').css('color', 'red');
                                }, 3000);
                            }
                        }
                    },
                    error: function(xhr, status, error) {
                console.error('Wystąpił błąd:', error);  // Dodaj do konsoli dokładny komunikat błędu
                console.log('Odpowiedź serwera:', xhr.responseText);  // Dodaj do konsoli odpowiedź serwera
                var errorData = JSON.parse(xhr.responseText);
                $('#error-message').text('Błąd zapisu: ' + errorData.errors).css('color', 'red');
                // Ukryj komunikat po 3 sekundach
                setTimeout(function() {
                    $('#error-message').text('').css('color', 'red');
                }, 3000);
            }
                });
            });
            function successCallback() {
                console.log('successCallback executed');
                // Ukryj formularz
                $('#registrationForm').hide();
                $('#cont-name').hide();

                // Pokaż komunikat
                $('#successMessage').show();

                // Funkcja przekierowująca po 5 sekundach
                setTimeout(function() {
                    window.location.href = '{% url "index" %}'; //'http://localhost:8000/'
                }, 3000);
            }
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron" >


        <div id="error-message"></div>

        {% if error_message %}
            <h2 style="color: red;">{{ error_message }}</h2>
        {% endif %}
            


        <form method="post" action="" id="registrationForm">
            {% csrf_token %}
            <div id="cont-name">
                <h4>Wprowadz dane:</h4>
                <p class="text-secondary">Wszystkie pola sa wymagane !</p>
            </div>
            <table class="mb-3">
                <tr>
                    <th scope="row">{{ form.login.label_tag }}</th>
                    <td class="pl-2 pb-2">{{ form.login }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.imie.label_tag }}</th>
                    <td class="pl-2 pb-2">{{ form.imie }}</td>
                </tr>
                <tr class="mb-1">
                    <th scope="row">{{ form.nazwisko.label_tag }}</th>
                    <td class="pl-2 pb-2">{{ form.nazwisko }}</td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Zapisz na listę</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Anuluj</a>
        </form>




        <div id="successMessage" style="display: none;">
            <h2 style="color: green;">Użytkownik został pomyślnie zapisany na Bal!</h2>
        </div>
    </div>
</div>
{% endblock %}